<footer class="footer-top">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
             <h3 class="title">Rivalogic Insights</h3>
               <p>Sign up for newsletter</p>
         <form  class="form-horizontal">
            <div class="form-group">
             <div class="col-sm-12">
                  <textarea class="form-control" rows="2"   placeholder="Enter Comment " minlength="2" maxlength="300" name="comment" 
                   required></textarea>
    
              </div>
            </div>
    
          <div class="form-group">        
              <div class="col-sm-12">
          <input type="submit"  class="btn btn-default" value="Submit">
        </div>
      </div>
        </form>
      </div>
      <div class="col-md-3">
          <h3 class="title">Consulting Services</h3>
                     <ul>
            <li><a href="#">Startup Consulting</a></li>
            <li><a href="#">Strategy Consulting</a></li>
            <li><a href="#">Go To Market Strategy</a></li>
            <li><a href="#">E-commerce</a></li>
            <li><a href="#">Customer Experience</a></li>
            <li><a href="#">CXO Advisory</a></li>
            </ul>
          </div>
      <div class="col-md-3">
          <h3 class="title">QUICK LINKS</h3>
          <ul>
        <li><strong>Workshops &amp; Seminars</strong></li>
        <li><strong> Resources</strong></li>
       </ul>
           
       </div>
      <div class="col-md-3">
              <h3 class="title">Contact Us</h3>
           
            <p>Rivalogic Consulting<br>Office No. 504, Pentagon-4,<br>Magarpatta City,<br>Pune - 411 013<br>India<br>Tel.: &nbsp;+91&nbsp;20 66052522 / 23</p>
      </div>
    </div>
  </div>
</footer>