
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
  
    <div class="item active">
      <img src="assets/images/about.jpg" alt="Los Angeles" style="width:100%;">
      <div class="carousel-caption">
    
      </div>
    </div>
    </div>

  </div>

  <header class="page-header">
  <div class="container">
    <h1 class="title">About Us</h1>
  </div>  
</header>
<div class="container">

<p>Rivalogic consulting is a Pune (India) based strategic consulting firm focused 
  on providing knowledge based services and business growth consulting solutions.</p>

  <div class="title-box"><h2 class="title">Our Mission :</h2></div>
  <p>To enable our clients attain market leadership, strategic positioning in their industry vertical by 
      providing strategic and innovative solutions.</p>

  </div>

  <div class="container">
<div class="col-md-6 padding11">
    <div class="title-box"><h2 class="title">Values and Guiding Principles:</h2></div>
    <p>We believe the best way to build long-term relationships with our clients is to provide superior results and excellent client service. We value our clients and partners and make
       it our business to treat them with the highest levels of professionalism and work ethics</p>
       <ul>
          <li>Integrity&nbsp;- we do what we say we\'re going to do</li>
          <li>Communication&nbsp;- we listen closely and share authentically</li>
          <li>Passion&nbsp;- we never give up</li>
          <li>Accountability&nbsp;- we measure ourselves by our results rather than our activities</li>
          <li>Innovation&nbsp;- we always find a better way</li>
          <li>Entrepreneurship&nbsp;- we reduce risk and build wealth</li>
          <li>Quality- we usually deliver more than what we commit</li>
          </ul>
          <p>Guided by these principles, our team brings the integrity,
             entrepreneurial drive and expertise to offer boutique consulting services.</p>

</div>
<div class="col-md-6 padding11">

    <div class="title-box"><h2 class="title">At Rivalogic Consulting we are committed to:</h2></div>
    <div>
        <ul>
            <li>Helping our client succeed &amp; create competitive advantage through unique solutions</li>
            <li>Delivering strategic value and business growth at a competitive price</li>
            <li>Succeeding together with passion and trust</li>
            </ul>
    </div>
</div>

</div>