<app-home-slider>
</app-home-slider>

<div class="container OurServices">
  <div class="row">
    <div class="title-box text-center ">
      <h1 class="title">Our Services</h1>
    </div>
    <div class="col-md-3">
      <div class="caption" style=" text-align:center;">
        <img src="/assets/images/startup.png" alt="" title="">
      </div>
      <div>
        <h4 class="title">Startup Consulting</h4>
        <p>The investor community receives thousands of business plans every month. Does your Business plan stand above the
          rest and grab attention? </p>
      </div>
    </div>
    <div class="col-md-3">
        <div class="caption" style=" text-align:center;">
            <img src="/assets/images/international.png" alt="" title="">
        </div>
        <div>
          <h4 class="title">International Business </h4>
          <p>Using our local knowledge and our global resources we expedite the entry of a business into the Indian market. </p>
        </div>
      </div>
      <div class="col-md-3">
          <div class="caption" style=" text-align:center;">
              <img src="/assets/images/technology.png" alt="" title="">
          </div>
          <div>
            <h4 class="title">Technology Consulting</h4>
            <p>Learn how we can leverage information technology to impact your bottomline, 
              restructure operations, maximize ROI and realize your business goals. </p>
          </div>
        </div>
        <div class="col-md-3">
            <div class="caption" style=" text-align:center;">
                <img src="/assets/images/branding.png" alt="" title="">
            </div>
            <div>
              <h4 class="title">Branding Consulting</h4>
              <p>Is your company currently benefiting from branding? If you looking at creating your brand identity or 
                want to reposition your existing brand in the marketplace, we can help you. </p>
            </div>
          </div>
  </div>
</div>

<div class="container">
  <div class="title-box text-center">
    <h1 class="title">Startup Consulting</h1>
  </div>

  <p>The investor community receives thousands of business plans every month. Does your Business plan stand above the rest and
    grab attention? So, if you need to write a plan for funding or for the best reason in the world - to set your business
    on a solid foundation, contact us to discuss your needs.We are sure to be able to assist you.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="title-box">
        <h1 class="title">Why choose Rivalogic Consulting?</h1>
      </div>
      <div>
        <ul>
          <li>10X times faster and at fraction of the cost that the Big5 Consulting firms charge</li>
          <li>Continuous churning out of new assessment models that are relevant to new business scenarios unlike scores of traditional
            models that have stopped evolving</li>
          <li>Focused advisory solutions with actionable project initiatives</li>
          <li>End-to-end ownership of the consulting initiative</li>
          <li>Unique transparent pricing model</li>
          <li>Scope of solutions transcend routine practices and steer the course of business growth towards progressive profitability</li>
          <li>Using Technology and Artificial Intelligence profoundly for competitive advantage</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">

      <div class="title-box">
        <h1 class="title">Our dream</h1>
      </div>
      <p>When we look ten years from now, we can clearly visualize that we have created thousands of jobs and millions of opportunities
        and impacted thousands of business organizations. Success is not about acquiring material and power, but progressive
        realization of a worthy idea. Let us all have some worthy idea and start realizing them. Let us be successful.</p>
    </div>
  </div>
</div>